{% extends 'core/base.html' %}
{% load static %}
{% block title %}
  {{serie}} series
{% endblock %}

{% block content %}
  <section id="iphone_series" style="margin-top:56px;">
  <nav class="border pt-3 mb-0 mx-0 px-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{serie}} series</li>
  </ol>
</nav>
    <div class="row pt-4 mx-3 gx-4 gy-4 ">
      <!-- <div class="col-md-4 col-12">
        <div class="card_main">
            <a href="">
                <div class="card_body">
                    <div class="img">

                    <img src="{% static 'images/12-apple-iphone-png-image.png' %}" alt="">
                    </div>
                    <div class="text-center">
                        <p class="name">All</p>
                    </div>
                </div>
            </a>
        </div>
      </div> -->

      {% for item in series  %}
      {% if item.of_series == serie %}
      <div class="col-md-4 col-12">
                <div class="card_main">
                    <a href="{% url 'list' item.slug %}">
                        <div class="card_body">
                            <div class="img">

                            <img src="{% static 'images/12-apple-iphone-png-image.png' %}" alt="">
                            </div>
                            <div class="text-center">
                                <p class="name">{{item.iPhone_name}}</p>
                                <p class="price">Form: ₹59999</p>
                            </div>
                        </div>
                    </a>
                </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
