{% extends "core/base.html" %}
{% block title %}
Deals
{% endblock %}

{% block content %}
<section id="iphone_banners" style="margin-top:56px">
  <h3 class="text-center mb-3 pt-4">Deals</h3>
  <div class="row gx-4 gy-4 mx-4">
    {% for deal in latest_deals %}
      {% for product in latest_products %}
        {% if product.id == deal.i_product %}
    <div class="col-md-3 col-6">
        <div class="card_main">
            <a href="{% url 'product_view' product.id product.name.slug %}">
                <div class="card_body">
                    <img src="{{product.main_image.url}}" alt="">
                    <div class="text-center">
                        <p>{{product.name}}</p>
                        <p>₹{{product.new_price}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endif %}
    {% endfor %}
    {% endfor %}

  </div>
</section>
{% endblock %}
